<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="ConnectionStringUnderTest" connectionString="localhost;Initial Catalog=DemoDb;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="CommandTimeOut" value="90"/>
    <add key="SqlCommand" value="select top 1 * from dbo.demoTable" />
  </appSettings>
</configuration>